# Core
pytz==2020.1
Django==3.0.7
django-configurations==2.2
newrelic==5.14.0.142
requests==2.23.0
python-dotenv==0.13.0

# For the persistence stores
psycopg2-binary==2.8.5
mysqlclient==1.4.6
dj-database-url==0.5.0

# Model Tools
django-model-utils==4.0.0
django_unique_upload==0.2.1

# Rest apis
djangorestframework==3.11.0
Markdown==3.2.2
django-filter==2.2.0
